<div class="container" style="margin-top:4%">
  <div class="row">
      <div style="text-align:center;margin-bottom:2%" ng-hide="selecting">
        <form class="form-inline" name="reservationForm" ng-submit="submit(reservationForm)">
          <div class="form-group">
            <label class="thin" for="exampleInputName2">Name*</label>
            <input type="text" ng-model="username" class="form-control" id="exampleInputName2" placeholder="John Doe" name="username" required>
          </div>
          <div class="form-group">
            <label class="thin" for="exampleInputEmail2">No. Of Seats*</label>
            <input type="number" ng-model="seats_required" class="form-control" id="exampleInputEmail2" placeholder="3" name="seats_required" min="1" max="{{seats_left}}" integer required>
          </div>
          <button type="submit" class="btn btn-info">Start Selecting</button>
        </form>
      </div>

      <div style="min-height:600px;background-color:white;opacity:0.98;padding-bottom:8%" class="animated bounceIn">
        <br>
        <br>

        <div  ng-show="!reservationForm.$valid && reservationForm.$dirty" style="margin-left:8%;margin-right:8%">
        
        
        <p class="text-danger bg-danger" ng-hide="reservationForm.username.$valid">
          Please enter valid username!!.
        </p>
        
        <p class="text-danger bg-danger" ng-hide="reservationForm.seats_required.$valid">
          Please enter valid no of seats required minimum 1  maximum {{seats_left}}!!
        </p>
        
        </div>


        <p ng-show="!selecting && !just_selected" style="text-align:center;font-size:18px">
          Fill up above form to start selecting seats...
        </p>
        <p ng-show="!selecting && just_selected" style="text-align:center;font-size:18px">
          Hi, {{username}}. Congrats you just booked {{seats_required}} seats.
        </p>

        <div ng-show="selecting">
        <div class="screen">
          <p style="text-align:center;color:white"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        </div>

        <div>
          <div ng-repeat="row in rows" style="overflow:auto;margin:2%">
            <ul class="list-inline" style="overflow:auto">
              <li ng-repeat="seat in row.seats" style="width:8.3333333%">
                <button style="text-align:center" ng-class="{'btn btn-sm seat ' : true,'btn-success' : seat.status=='selected', 'btn-danger': seat.status == 'reserved'}" ng-click="select(seat)">{{seat.name}}</button>
              </li>
            </ul>
          </div>
        </div>    
        
        <div style="text-align:center">
          <button class="btn btn-lg btn-success" ng-click="reserve()">Confirm</button>
        </div>
        </div>

        <div style="padding:2%">
          <p ng-hide="user_data.length>0" class="text-info bg-info" style="text-align:center;font-size:20px">No Seats Reserved Yet!!</p>
          <table ng-table class="table" ng-show="user_data.length>0">
             <tr ng-repeat="ud in user_data">
               <td data-title="'Name'">
                 {{ud.key}}
               </td>
               <td data-title="'No. Of Seats'" style="text-align:center">
                 {{ud.value.length}}
               </td>
               <td data-title="'Seats'">
                 {{ud.value.toString()}}
               </td>
             </tr> 
          </table>  
              
        
        </div>
      </div>
  </div>

 
</div>

